.head{
    background-color:rgb(244, 202, 140);
    font-size: 70px; 
    text-align: center; 
    color:black
}
.main{
    width: 280px;
    border: 1px solid white; 
}
.main-img{
    display: flex;
    justify-content: space-around;
}

  